//configure yooooooooo
$font-stack: Helvetica, sans-serif; //w3schools lmaoo

// seperatoring to dooooooooooooooooooooooooooo

//canva coloring palette
$middle: #ba0f30;
$dark: #2f2440; //basic
$light: #c6b79b; //makes me blind!
$highlight: #ff2511;

// seperatoring to dooooooooooooooooooooooooooo

span{ //works like a highlight!
  color: $highlight;
}

// seperatoring to doooooooooooooo

body{ //i like em body shape, very dark yee
  font-family: $font-stack;
  text-align: center;
  background-color: $dark;
  color: white;
}

// seperatoring to doooooooooo

#constrain{ //life is constrain, metaverse is life!
  max-width: 800px;
  margin: 30px auto;
  padding: 0 40px;
}

// seperatoring to doooooooooo

#top{ //jus fancy name for navbar
  img{
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: auto;
  }

  // seperatoring to dooooooooooooooooooooooooooo
  
  h3{ //black as maaaaaaaaaaaaaaaaaaaaaaaaaa
    color: black;
    background-color: $middle;
    border-radius: 10px;
    margin-top: 25px;
  }

  // seperatoring to doooooooooooooooo
  
  div{ //eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
    display: inline-block;
    height: 80px;
    width: 80px;
    overflow: auto;
    vertical-align: middle;
  }
}

// seperatoring to dooooooooooooooooooooooooooo

//quick and easy to read linking cardd
#quick{
  margin: 0 auto;
  max-width: 700px;
  
  // seperatoring thing to dooooooooooooooooooooooooooo

  div{ //dev def div dee diif deef deif dief deev deeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeev
    width: 270px;
    height: 170px;
    background-color: $middle;
    border-radius: 20px;
    border: 2px solid $light;
    margin: 10px;
    display: inline-block;
    overflow: auto;
    cursor: pointer;
  }
}

// seperatoring to dooooooooooooooooooooooooooo

//slayy slayyy slayy slayyyy slayyyyyyyyyyyy omggggggggggggggggggggggg it actuallly compiled, am highh noww!!??!!!?!
